
<footer class="footer">
  <div class="container">
    <div class="row footer-block">
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li>155 N First Ave, Hillsboro, OR 97124-3072,  Suite: 350</li>
          <li>Phone: (503) 846-4530</li>
          <li>Fax: (503) 846-4412</li>
          <li>Email: Land Use & Transportation</li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="visible-md visible-lg list-unstyled text-right">
          <li>This page maintained by: <a href="#">Land Use &amp; Transportation</a></li>
          <li><a href="#">Disclaimer and Privacy Statement</a></li>
        </ul>
        <ul class="hidden-md hidden-lg list-unstyled">
          <li>This page maintained by: <a href="#">Land Use &amp; Transportation</a></li>
          <li><a href="#">Disclaimer and Privacy Statement</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
