
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="hidden-sm hidden-md hidden-lg navbar-brand">Washington County Website</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">News</a></li>
        <li><a href="#contact">Calendar</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#contact">Services</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search the site">
          </div>
        </form>

        <li class="hidden-xs hidden-sm active dropdown">
          <a href="#" class="dropdown-toggle options-drop" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-search-plus"></i>&nbsp;Search Options <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/services.cfm">Services Search</a></li>
            <li><a href="/Events/eventsearch.cfm">Event Search</a></li>
            <li><a href="/newsreleasesearch.cfm">News Release Search</a></li>
            <li><a href="/formsearch.cfm">Forms Search</a></li>
            <li><a href="/FAQSearch.cfm">FAQs</a></li>
            <li><a href="/LUT/Divisions/Building/Reports/building-permit-search.cfm">Building Permit Search</a></li>
            <li class="divider"></li>
            <li><a href="/ContactUs/keywordhelp.cfm">Search Help</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
