

    <select class="form-control">
    <option id="default" selected="selected" value="none">Choose a Department:</option>

    <optgroup label="Administration">
    <option value<option value<option value<option value<option value<option value<option value="/BOC/">Board of Commissioners</option>
    <option value="/CAO">County Administrative Office</option>
    </optgroup>
    <optgroup label="General Government">
    <option value="/AssessmentTaxation/index.cfm">Assessment &amp; Taxation</option>
    <option value="/countyauditor/">County Auditor</option>
    <option value="/CountyCounsel/">County Counsel</option>
    <option value="/AssessmentTaxation/Elections/">Elections</option>
    <option value="/support_services/HR/">Human Resources/Jobs</option>
    <option value="/support_services/">Support Services</option>
    </optgroup>

    <optgroup label="Public Safety &amp; Justice">
    <option value="http://courts.oregon.gov/Washington/index.page?">Circuit Court</option>
    <option value="/communitycorrections/">Community Corrections</option>
    <option value="/districtattorney/">District Attorney's Office</option>
    <option value="/JusticeCourt/">Justice Court</option>
    <option value="/Juvenile/">Juvenile</option>
    <option value="/LawLibrary/">Law Library</option>
    <option value="http://www.ocem.org/">Office of Consolidated Emergency Management</option>
    <option value="/sheriff/">Sheriff's Office</option>
    </optgroup>
    <optgroup label="Land Use, Housing &amp; Transportation">
    <option value="/CommunityDevelopment/">Community Development</option>
    <option value="/LUT/">Land Use &amp; Transportation</option>
    <option value="/Housing/">Housing Services</option>
    <option value="/Watermaster/">Watermaster</option>
    </optgroup>
    <optgroup label="Health &amp; Human Services">
    <option value="/HHS/">Health &amp; Human Services</option>
    <option value="/HHS/AnimalServices/">Animal Services</option>
    <option value="/HHS/CCF/">Commission on Children &amp; Families</option>
    <option value="/HHS/DevelopmentalDisabilities/">Developmental Disabilties</option>
    <option value="/HHS/DAVS/">Disability, Aging &amp; Veteran Services</option>
    <option value="/HHS/EMS/">Emergency Medical Services</option>
    <option value="/HHS/EnvironmentalHealth/">Environmental Health</option>
    <option value="/HHS/MentalHealth/">Mental Health Services</option>
    <option value="/HHS/SWR/">Solid Waste &amp; Recycling</option>
    </optgroup>

    <optgroup label="Culture, Education &amp; Recreation">
    <option value="/WCCLS/index.cfm">Cooperative Library Services</option>
    <option value="/OSUExtensionService/">Extension Service</option>
    <option value="http://www.faircomplex.com/">Fair Complex</option>
    <option value="/Support_Services/Facilities/Parks/Hagglake/index.cfm">Henry Hagg Lake/Scoggins Valley Park</option>
    <option value="/Support_Services/Facilities/Parks/MetzgerPark/index.cfm">Metzger Park</option>
    </optgroup>
    </select>

  <h4><a data-toggle="collapse" href="#sm-key-services" aria-expanded="false" aria-controls="sm-key-services">Key Services &amp; Information</a>&nbsp;<i class="fa fa-sort"></i></h4>
    <div class="collapse sidebar-module" id="sm-key-services">
      <ul class="list-unstyled">
        <li><a href="/HHS/EmergencyPreparedness/">Emergency Preparedness</a></li>
        <li><a href="/HHS/AnimalServices/index.cfm">Animal Services</a></li>
        <li><a href="/BOC/">Board of Commissioners</a></li>
        <li><a href="/LUT/Divisions/Building/index.cfm">Building Services</a></li>
        <li><a href="/CAO/CharterCode/index.cfm">Code &amp; Charter</a></li>
        <li><a href="/Sheriff/OtherServices/code-enforcement.cfm">Code Enforcement</a></li>
        <li><a href="/community-involvement-and-cpos.cfm">Community Involvement</a></li>
        <li><a href="/LawLibrary/Resources/divorce-and-family-law.cfm">Divorce &amp; Family Law</a></li>
        <li><a href="/AssessmentTaxation/Elections/">Elections</a></li>
        <li><a href="/HHS/EnvironmentalHealth/FoodSafety/index.cfm">Food Safety</a></li>
        <li><a href="/Support_Services/Facilities/tax-foreclosures.cfm">Foreclosed Properties</a></li>
        <li><a href="/HHS/SWR/">Garbage &amp; Recycling</a></li>
        <li><a href="/HHS/">Health &amp; Human Services</a></li>
        <li><a href="/Support_Services/Finance/transient-room-tax.cfm">Hotel / Motel Tax</a></li>
        <li><a href="/Housing/">Housing Services</a></li>
        <li><a href="/Support_Services/HR/Employment/employment-opportunities.cfm">Jobs &amp; Employment</a></li>
        <li><a href="/LUT/Divisions/LongRangePlanning/land-use-planning-information.cfm">Land Use &amp;  Building</a></li>
        <li><a href="/WCCLS/index.cfm">Libraries</a></li>
        <li><a href="http://washims.co.washington.or.us/gis/">Maps &amp; GIS</a></li>
        <li><a href="/AssessmentTaxation/marriage-licenses-and-domestic-partnerships.cfm">Marriage &amp; Partnerships</a></li>

        <li><a href="/Support_Services/Facilities/Parks/index.cfm">Parks</a></li>
        <li><a href="/AssessmentTaxation/index.cfm">Property Taxes</a></li>
        <li><a href="/sheriff/">Sheriff's Office</a></li>
        <li><a href="/LUT/TransportationServices/index.cfm">Transportation</a></li>
        <li><a href="/HHS/DAVS/Veterans/index.cfm">Veterans Services</a></li>
        <li><a href="/Volunteers/">Volunteer</a></li>
        <li><a href="http://washims.co.washington.or.us/InterMap/">Zoning</a></li>
      </ul>
    </div>

  <h4><a data-toggle="collapse" href="#sm-permit-licenses" aria-expanded="false" aria-controls="sm-permit-licenses">Permits Licenses &amp; Records</a>&nbsp;<i class="fa fa-sort"></i></h4>
    <div class="collapse sidebar-module" id="sm-permit-licenses">
      <ul class="list-unstyled">
      <li><a href="/HHS/EmergencyPreparedness/">Emergency Preparedness</a></li>
      <li><a href="/HHS/AnimalServices/index.cfm">Animal Services</a></li>
      <li><a href="/BOC/">Board of Commissioners</a></li>
      <li><a href="/LUT/Divisions/Building/index.cfm">Building Services</a></li>
      <li><a href="/CAO/CharterCode/index.cfm">Code &amp; Charter</a></li>
      <li><a href="/Sheriff/OtherServices/code-enforcement.cfm">Code Enforcement</a></li>
      <li><a href="/community-involvement-and-cpos.cfm">Community Involvement</a></li>
      <li><a href="/LawLibrary/Resources/divorce-and-family-law.cfm">Divorce &amp; Family Law</a></li>
      </ul>
    </div>
    <div class="sidebar-module well">
      <h4><i class="fa fa-clock-o"></i>&nbsp;<a href="#">Business Hours</a></h4>
      <h4><i class="fa fa-calendar-o"></i>&nbsp;<a href="#">Calendar</a></h4>
      <h4><i class="fa fa-question-circle"></i>&nbsp;<a href="#">FAQ</a></h4>
    </div>
